/* Переменные */

:root {
  --height-logo: 60px;
  
  --border: 2px solid #ffffff;
  --border-radius: 10px;
  
  --font-size-s: 12px;
  --font-size-m: 15px;
  --font-size-l: 18px;
  --font-darck-color: #254E58;
  --font-light-color: #fff; //#D3D3D3;
  
  --background-body: #b2b2b2;
  --background-header: #fff;
  --background-nav: #254E58;
  --background-main: #254E58;
  --background-footer: #254E58;

  
  --gap: 5px;
  --gap-s: 3px;
  --gap-m: 5px;
  --gap-l: 10px;

  --padding-s: 3px;
  --padding-m: 5px;
  --padding-l: 10px;  
  --padding-content: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body{
	height: 100%;
}

a{
	color: var(--font-color);
	font-weight: bold;
	text-decoration: none;
}


nav {
	position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    background: var(--background-nav);
    font-weight: bold;
    //border: var(--border);
    //border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
    list-style-type: none;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    tex t-shadow: 1px 1px 0px #283744;
}

nav a#pull {
    display: none;
}



/* Page */

.page {
	font-size: var(--font-size-l);
	font-family: 'PT Sans', Arial, sans-serif;
	color: var(--font-light-color);
}

.page_body {
	//padding-left: var(--padding-l);
	//padding-right: var(--padding-l);
	background: var(--background-body);
}


/* Header */
.header {
	//background: var(--background-header);
}

.header_logo {
	width: auto;
}

.header_logo a {
	margin: 0;
	padding: 0;
	
}

.header_logo_img {
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
}















